# Dépendances
node_modules/

# Variables d'environnement (contiennent des secrets !)
.env.local
.env
.env.*.local

# Base de données locale
data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

